<div class="text-analyzer-component">
  <div class="text-analyzer-component-child">
    <!-- Header & Subheaders -->
    <h1>Text Analyzer App</h1>
    <h5>Enter text below to analyze it</h5>

    <!-- Show a loading spinner when data is being processed -->
    <div class="text-analyzer-component-loading-spinner-container">
      <div
        class="text-analyzer-component-loading-spinner-container-child"
        *ngIf="isLoading"
      >
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        Loading...
      </div>
    </div>
  </div>

  <div class="text-analyzer-component-input-group-parent">
    <!-- Angular Material Slide Toggle for switch -->
    <div class="text-analyzer-component-input-group">
      <mat-slide-toggle labelPosition="before" [(ngModel)]="isOnline">
        <span class="text-analyzer-component-slide-span">
          {{ isOnline ? "Online Mode Enabled" : "Use Online Mode" }}</span
        >
      </mat-slide-toggle>
    </div>

    <!-- Radio buttons for selecting analysis type -->
    <div class="text-analyzer-component-radio-button-parent">
      <mat-radio-group color="warn" [(ngModel)]="isVowels">
        <mat-radio-button [value]="true">
          <span style="color: #ff5733"> Vowels </span>
          Vowels</mat-radio-button
        >
        <mat-radio-button [value]="false">
          <span style="color: #ff5733"> Consonants </span>
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Text input -->
    <div class="text-analyzer-component-input-field">
      <mat-form-field style="min-width: 100%; max-height: 20vh">
        <mat-label>Analyze Text</mat-label>
        <textarea
          rows="1"
          cols="1"
          matInput
          [(ngModel)]="text"
          placeholder="Ex. Hello World!"
        ></textarea>
      </mat-form-field>
    </div>

    <!-- Submit button -->
    <button
      style="
        background-color: #ff5733;
        color: white;
        font-weight: 500;
        letter-spacing: 0.1rem;
      "
      mat-fab
      extended
      (click)="analyzeText()"
      [disabled]="isLoading"
    >
      ANALYZE
    </button>
  </div>

  <!-- Display errors if any -->
  <div *ngIf="error" class="error">{{ error }}</div>

  <!-- Display analysis results -->
  <div class="text-analyzer-component-history">
    <div
      class="text-analyzer-component-analyzer"
      *ngFor="let result of analysisResult; let i = index"
    >
      <div>{{ result }}</div>
    </div>

    <!-- Display analysis history -->
    <div *ngIf="analysisHistory.length > 0">
      <h3>Analysis History:</h3>
      <ul>
        <li *ngFor="let entry of analysisHistory">
          <p><strong>Text:</strong> {{ entry.text }}</p>
          <p>
            <strong>Mode:</strong>
            {{ entry.isVowels ? "Vowels" : "Consonants" }}
          </p>
          <p><strong>Result:</strong></p>
          <pre>{{ entry.result }}</pre>
          <mat-divider style="width: 90%"></mat-divider>
        </li>
      </ul>
    </div>
  </div>
</div>
